<nav class="navbar navbar-dark bg-dark login-nav">
  <a class="navbar-brand" href="#">
    <img src="https://fontmeme.com/permalink/191105/b22789a33160dfafb34adc44bb924d49.png" width="200px"
      alt="fallout-font" border="0">
  </a>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container welcome-container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="display-4">Welcome Preppers!</h1>
        <br>
        <p class="lead"><b class="font-weight-bold">Create and manage</b> your Doomsday inventory.</p>
        <p class="lead"><b class="font-weight-bold">Search and add</b> items manually or by barcode.</p>
        <p class="lead"><b class="font-weight-bold">Save</b> needed items to your wishlist.</p>
      </div>
      <div class="col-md-4">
        <form method="POST" action="/register">
          <h1 class="display-5">Sign Up</h1>
          <p class="lead">Before it's too late!</p>
          <div class="form-group">
            <label for="Username-text"></label>
            <input type="text" name="username" class="form-control" id="username-text" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="Password-Text"></label>
            <input type="password" name="password" class="form-control" id="password-text" placeholder="New Password">
          </div>
          <div class="form-group">
            <label for="Password2-Text"></label> <input type="password" class="form-control" id="password2-text"
              placeholder="Re-Enter Password">
          </div>
          <button class="btn btn-success btn-block" id="submit-registration">Sign Up</button>
          <div id="user-alerts">
            {{register-err-msg}}
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="./js/registerUser.js"></script>