<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>{{msg}}</h3>
        <h5>Search below for items to add to your inventory.</h5>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <input type="text" id="item-search" class="form-control" aria-describedby="item-search"
              placeholder="Search for items">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Search Results:</h3>
        <div id="results">
          {{!-- client side js will populate this --}}
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/upcLookup.js"></script>
{{!-- <script src="/js/index.js"></script> --}}