<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h3>{{msg}}</h3>
        <h5>Search below for items to add to your inventory.</h5>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <input type="text" id="item-search" class="form-control" aria-describedby="item-search"
              placeholder="Search for items">
          </div>
          <button id="submit" class="btn btn-primary float-right" data-target="itemAddModal">Submit</button>
        </form>
        <h3>Search Results:</h3>
        <div id="results" class="hidden">
          <div id="new-item-desc">
            {{!-- js fills in this --}}
          </div>
          <button type="submit" class="btn btn-success" data-toggle="modal"
              data-target="#itemAddModal" id="new-item-btn">Add Item to inventory</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- modal --}}
<div class="modal show fade" id="itemAddModal" tabindex="-1" role="dialog" aria-labelledby="itemmAddLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemmAddLabel">Item add form.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- insert data here via javascript -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-failure" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" id="add-item">Add Item</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" id="wishlist">Wishlist</button>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/upcLookup.js"></script>
{{!-- <script src="/js/index.js"></script> --}}